<h1><%= title %></h1>
<p>
  <span>您好，<%= author %>将要开发一个新的项目，项目信息如下：</span>
</p>
<p>
  <span>项目名称：</span>
  <b><%= projectName %></b>
</p>
<p>
  <span>项目描述：</span>
  <b><%= description %></b>
</p>
<p>
  <span>使用模版：</span>
  <b><%= langType===1 ? 'vue' : 'react' %></b>
</p>
<p>
  <span>接口文档地址：</span>
  <b><%= projectProxyUrl %></b>
</p>
<p>
  <span>相关开发者：</span>
  <b><%= author %></b>
</p>

<p>
  <span>git地址：</span>
  <b><%= gitAddress %></b>
</p>
<!-- <% if (langType===1) { %>
<p>
  <span>CI信息：</span>
  <div>
    <p>
      <span>构建时输出补丁的压缩包名称：</span>
      <b><%= parkName %></b>
    </p>
    <p>
      <span>SFTP服务器地址：</span>
      <b><%= host %></b>
    </p>
    <p>
      <span>SFTP服务器端口：</span>
      <b><%= port %></b>
    </p>
    <p>
      <span>SFTP用户名：</span>
      <b><%= username %></b>
    </p>
    <p>
      <span>SFTP密码：</span>
      <b>********</b>
    </p>
    <p>
      <span>SFTP上传目录：</span>
      <b><%= sftpProjectPath %></b>
    </p>
  </div>
</p>
<% } else { %>
<p>
  <span>misc地址：</span>
  <b>https://misc.sogou-inc.com/app/<%= productionAddress %></b>
</p> 
<% } %> -->
<p>
  <span>misc地址：</span>
  <b>https://misc.sogou-inc.com/app/<%= productionAddress %></b>
</p> 
<p>
  <b>麻烦您添加一下部署配置</b>
  <b>构建时推送信息权限为：<%= author %></b>
</p>
