<h1><%= title %></h1>
<p>
  <span><%= author %>，您好，感谢您使用nic-cli来初始化一个新的项目，项目信息如下：</span>
</p>
<p>
  <span>项目名称：</span>
  <b><%= projectName %></b>
</p>
<p>
  <span>项目描述：</span>
  <b><%= description %></b>
</p>
<p>
  <span>使用模版：</span>
  <b><%= langType===1 ? 'vue' : 'react' %></b>
</p>
<p>
  <span>接口文档地址：</span>
  <b><%= projectProxyUrl %></b>
</p>
<p>
  <span>相关开发者：</span>
  <b><%= author %></b>
</p>

<p>
  <span>git地址：</span>
  <b><%= gitAddress %></b>
</p>
<p>
  <span>misc地址：</span>
  <b>https://misc.sogou-inc.com/app/<%= productionAddress %></b>
</p>
<p>
  祝您开发愉快！！！
</p>